			body { 
				margin: 0px;
			}
			
			h1 {
				color: blue;
				font-family:Arial, Helvetica, sans-serif;
				font-weight: bold;  
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}

			td {
				border: 1px solid darkgrey;	
				border-collapse: collapse;
				padding-left: 5px;
				padding-right: 15px;
				padding-top: 5px;
				padding-bottom: 5px;
			}

			thead {
				font-weight: bold;
			}

			.menu {
				position: relative;
				width: 100%;
                height: 55px;
                background-color: grey;				
				color: white;
				display: block;
				margin-top: 0mm;
				margin-bottom: 0mm;
			}

			.menu-item1 {
				display: inline-block;
				font size: 30px;
                padding: 15px;
                font-family: cursive;
				background-color: blueviolet; 
		 	}
			
			.menu-item1:hover {
				cursor: default;
			}

			.menu-item2 {
				display: inline-block;
				font size: 30px;
				padding: 10px;
				font-family:Arial, Helvetica, sans-serif;
			}

			.menu-item2:hover {
				cursor: pointer;
				background-color: blue;
				text-decoration: none;
			}

			.container {
				margin: 0 auto;
				display: block;
				max-width: 1200px;
			}

			a.menu-item2:link {
				text-decoration: none;
				text-emphasis: none;
				color: white;
			}
				  
			a.menu-item2:visited {
				text-decoration: none;
				color: white;
			}

			a.menu-item2:hover {
				text-decoration: none;
				text-emphasis: none;
				color: white;
			}
        
            .menu-item2 .dropdown {
                display: none;
            }

            .menu-item2:hover .dropdown {
                display: block;
                position: absolute;
                top: 48px;
                left: 209px;
                min-width: 133px;
                background-color: darkslategrey;
            }
            .dropdown-item {
                position: relative;
                padding: 0.5em;
                display: block;
            }
            .dropdown-item:hover {
                background-color: darkblue;
            }
